* {
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

main {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    border-radius: 10px;

}

.centerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.imageContainer img {
    height: 50vh;
    border-radius: 10px 0px 0px 10px;
    width: 30vh;
}


.infoContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 30vh;
    border-radius: 0px 10px 10px 0px;
}

.textInContainer {
    margin-left: 10%;
}

.textInContainer h1 {
    font-size: 2vw;
}

.textInContainer p {
    font-size: 0.9vw;
    font-family: "Montserrat";
}



.prices {
    margin-left: 10%;
    
}

.prices h1 {
    font-size: 2vw;
    color: hsl(158, 36%, 37%);
    display: inline;
}

.prices h3 {
    padding-left: 1vw;
    font-size: 0.5vw;    
    text-decoration: line-through;
    display: inline;
}

.positionButton {
    text-align: center;
    margin-top: 3vh;
}

button {
    width: 80%;
    height: 4vh;
    color: white;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
}